<header class="jumbotron grey lighten-4 ">
        <h1>{{title}}</h1>
        <p class="lead">Embark on an adventure and wander among the data.</p>
</header>

<section>
        <div class="container-fluid p-4">
                <ul>
                        <li><a href="/sketchbooks">Sketchbooks</a></li>
                        <li><a href="/analytics/most-viewed">Analytics</a></li>
                        <li><a href="/people">People</a></li>
                        <li><a href="/images">Images</a></li>
                </ul>
        </div>
</section>

<footer class="page-footer grey darken-1 font-small p-3">
	<div class="container-responsive text-left">
			Another R&amp;D project from the department of Digital Infrastructure and Emerging Technology at Harvard Art Museums
	</div>	
</footer>