apikey=

CROSSTALK_USE_AI_SERVICE=false

AZURE_OPENAI_API_KEY = 
AZURE_OPENAI_API_INSTANCE_NAME = 
AZURE_OPENAI_API_DEPLOYMENT_NAME = 
AZURE_OPENAI_API_VERSION = 

BEDROCK_AWS_ACCESS_KEY_ID = 
BEDROCK_AWS_SECRET_ACCESS_KEY = 
BEDROCK_AWS_REGION = 