<header class="jumbotron">
    <h1>Sketchbook Explorer</h1>
    <p class="lead">From the Harvard Art Museums</p>
</header>

<section>
    <div class="container-fluid pb-5 pl-5">
        <h3>Otto Piene Sketchbooks</h3>
        <ul>
            <li><a href="/sketchbooks/piene/colors">Browse the sketchbooks by time and color</a></li>
            <li><a href="https://iiif.harvardartmuseums.org/viewers/mirador?collection=https://www.harvardartmuseums.org/profile/jeff_steward@harvard.edu/mycollections/4914/art-and-ideas-2020/iiif/top">Browse the sketchbooks in Mirador</a></li>
            <li><a href="https://www.harvardartmuseums.org/collections/person/28069">Browse the sketchbooks on hvrd.art</a></li>
        </ul>
    </div>
</section>


<footer class="page-footer black lighten-4 font-small p-3">
	<div class="container-responsive text-left">
			Made with the <a href="https://hvrd.art/api">Harvard Art Museums API</a>, <a href="https://nodejs.org/en/">Node.js</a>, <a href="https://getbootstrap.com/">Bootstrap</a>, <a href="https://mdbootstrap.com/">Material Design for Bootstrap</a>
	</div>	
</footer>