<header class="jumbotron grey lighten-4">
    <h1>Image Explorer</h1>
    <p class="lead">Some clever tag line goes here</p>
</header>

<section>
    <div class="container-fluid pb-5 pl-5">
        <h3></h3>
        <ul class="list-unstyled">
            <li>
                <a href="/images/alt-text/roulette">Alt Text Roulette</a>
                <p class="">Read the alt text. Try to imagine the object.</p>
            </li>
            <li>
                <a href="/images/browse">Image Description Browser</a>
                <p class="">Browse images along with their various descriptions.</p>
            </li>
        </ul>
    </div>
</section>


<footer class="page-footer grey darken-1 font-small p-3">
	<div class="container-responsive text-left">
		Another R&amp;D project from the department of Digital Infrastructure and Emerging Technology at Harvard Art Museums
	</div>	
</footer>