<header class="jumbotron grey lighten-4">
	<h1>Color Explorer 🎨</h1>
	<p class="lead"></p>
</header>
 
<section>
        <div class="container-fluid pb-5 pl-5">
			<ul class="list-unstyled">
				<li><a href="/color/spectrum">Explore the HAM Specturm</a></li>
			</ul>
		</div>
</section>
