<header class="jumbotron grey lighten-4">
	<h1>Analytics Explorer 📊</h1>
	<p class="lead"></p>
</header>
 
<section>
        <div class="container-fluid pb-5 pl-5">
			<ul class="list-unstyled">
				<li>
                    <a href="/analytics/most-viewed">What's popular online?</a>
                    <p class="">Explore by year the objects most viewed on the HAM website</p>
                </li>
			</ul>
		</div>
</section>

<footer class="page-footer grey darken-1 font-small p-3">
    <div class="container-responsive text-left">
    	Another R&amp;D project from the department of Digital Infrastructure and Emerging Technology at <a href="https://hvrd.art">Harvard Art Museums</a>
    </div>
</footer>