<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8" />
    <title>{{title}} | Harvard Art Museums</title>
		<style type="text/css">
			body {background: #ffffff;color: #000000;font-family: verdana;font-size: 0.8em;margin: 0px;padding: 0px;}
			header {background: #e7e7e7; padding: 10px;}
			.grouping {padding: 10px;}
			.top-five ul {list-style-type: none;margin: 0px 0px 10px 0px;padding: 0px;width: 80%;float:left;white-space: nowrap;}
			.top-five ul li {width: 105px;display: inline-block;text-align: center;vertical-align: middle;padding-bottom: 10px;}
			.top-five .group-header {width:100px;float: left;cursor: pointer;}
			.top-five .group-header:hover {text-decoration: underline;}
			.hide {height: 100px;overflow: hidden;}
			.highlight-all-0 {background: #ffffff;}
			.highlight-all-1 {background: #eeeeee;}
			.highlight-all-2 {background: #dddddd;}
			.highlight-all-3 {background: #cccccc;}
			.highlight-all-4 {background: #bbbbbb;}
			.highlight-all-5 {background: #aaaaaa;}
			.highlight-all-6 {background: #999999;}
			.highlight-all-7 {background: #888888;}
			.highlight-all-8 {background: #777777;}
			.highlight-all-9 {background: #666666;}
			.highlight-all-10 {background: #555555;}
			footer {background: #999999; padding: 10px;}
		</style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
